body {
    font-family: 'Jost', Arial, sans-serif;
    text-align: center;
    background-color: #f9f9f9;
    margin: 0;
    padding: 20px;
}

header {
    background-color: #8bd9e4;
    color: white;
    padding: 20px;
    border-radius: 8px;
}

button {
    background-color: #3ea5b3;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #57a9b4;
}

#tipContainer {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
}
